<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
">

	<!-- 扫描微服务接口,把扫描到的接口动态创建一个代理实现 start -->
	
<!-- 
	<bean id="remoteV5ServiceExecutor" class="com.omniselling.common.v5service.client.RemoteV5ServiceHttpExecutor" >
		<constructor-arg name="serviceUrl" value="http://test.omniselling.net/omnibilling" />  
	</bean>
	
	 -->

	<bean id="remoteV5ServiceZookeeperExecutor" class="com.omniselling.common.v5service.client.RemoteV5ServiceZookeeperExecutor" init-method="init">
		<constructor-arg name="serviceName" value="omnibilling"  />  
        <constructor-arg name="msRoot" value="/"  />
        <constructor-arg name="connectString" value="test.omniselling.net:2181" />
        <constructor-arg name="sessionTimeout" value="3000"/>
	</bean>
	 
	<bean
		class="com.omniselling.common.v5service.client.V5ServiceScannerConfigurer">
		<!-- 定义将要扫描的接口 -->
		<property name="basePackage" value="com.omniselling.ms.test.generator.out.service" />
		<property name="serviceName" value="omnibilling" />
		<property name="remoteV5ServiceExecutor" ref="remoteV5ServiceZookeeperExecutor" />
	</bean>


</beans>
